h1{
    padding-top: 15;
}
#syn{
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
}
#tekst{
    height: 555px;
    float: right;
    width: 44%;
    background-image: url(ok.jpg);
}
#obraz{
    float: left;
    width: 20%;
}

HTML{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
}
div{
    background-color: white;
}
footer{ 
    text-align: center;
    clear: both;
    padding: 100px;
    color: white;
}